/*
 * _______________#########_______________________ 
 * ______________############_____________________ 
 * ______________#############____________________ 
 * _____________##__###########___________________ 
 * ____________###__######_#####__________________ 
 * ____________###_#######___####_________________ 
 * ___________###__##########_####________________ 
 * __________####__###########_####_______________ 
 * ________#####___###########__#####_____________ 
 * _______######___###_########___#####___________ 
 * _______#####___###___########___######_________ 
 * ______######___###__###########___######_______ 
 * _____######___####_##############__######______ 
 * ____#######__#####################_#######_____ 
 * ____#######__##############################____ 
 * ___#######__######_#################_#######___ 
 * ___#######__######_######_#########___######___ 
 * ___#######____##__######___######_____######___ 
 * ___#######________######____#####_____#####____ 
 * ____######________#####_____#####_____####_____ 
 * _____#####________####______#####_____###______ 
 * ______#####______;###________###______#________ 
 * ________##_______####________####______________ 
 * 
 * @message: 
 * @Version: 2.0
 * @Autor: richard
 * @since: 2021-03-09 19:11:55
 * @LastAuthor: richard
 * @lastTime: 2021-03-09 19:11:55
 */

.example-1 {
    width: 100%;
    height: 200px;
    background-color: powderblue;
    text-align: center;
}

.example-2 {
    height: 100px;
    width: 500px;
    background-color: rgb(73, 138, 60);
    text-align: right;
}